.register-body{
    background-color: #264759;
    background-image: url('./../images/patternpad.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    background-attachment: fixed;
    background-position: bottom center;

}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px
}
.register .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-card{
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 5px;
    width: 60%;
    color: #264759;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}
.register-card h3{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.register-card p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.form-select:focus{
    border-color: #264759;
    box-shadow: none;
}
.form-select:active{
    border-color: #264759;
    box-shadow: none;
}
.form-check-input:focus{
    outline: none;
    box-shadow: none;
    accent-color: #264759;
}

.register-card .form-control{
    border: none;
    border-bottom: 1px solid #264759;
    box-shadow: none;
    border-radius: 0;
}

.register-card .form-control:focus{
    border: none;
    border-bottom: 2px solid #264759;
    box-shadow: none;
}
.register-card.form-check-input:focus{
    outline: none;
    box-shadow: none;
    accent-color: #000000;
}
@media(max-width: 991px) {
        
    .register-card {
        width: 90%;
    }
}

