
/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
    .button-58{
        display: none !important;
    }
    .second-menu .dropdown-menu a{
        font-size: 16px !important;
    }
    .second-menu .nav-item{
        margin-right: 15px;
        margin-left: 15px;
    }
    .second-menu .nav-item img{
        height: 20px;
    }
    .second-menu{
        flex-direction: row;
    }
    /* .navbar-nav .dropdown-menu {
        position: absolute;
        left: 0;
        transform: translate(-1.5%);
    } */
    .side-menu .navbar-nav .dropdown-menu {
        position: absolute;
        left: 50%;
        transform: translate(-0%);
    }
    .has-megamenu .dropdown-toggle::after{
        float: right;
        margin-right: 20px;
        margin-top: 5px;
    }
    .navbar .megamenu{
        background: none;
        border : none;
    }
    .navbar .desktop-view-search{
        display: none;
    }
    .navbar .mobile-view-search{
        background: none !important;
        border : none !important;
    }
    .navbar-dark .navbar-toggler{
        border : none !important
    }
    .navbar-dark .navbar-toggler-icon{
        background-image: url('./../images/menu.png');
    }
    button:focus,button:active:focus,button.active:focus,
    button.focus,button:active.focus,button.active.focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important
    }
    .btn:focus,.btn:active:focus,.btn.active:focus,
    .btn.focus,.btn:active.focus,.btn.active.focus {
        outline: none !important;
        box-shadow: none !important;
        border: none !important
    }


    .heroslider .swiper-slide {
        height: 395px;
    }
    .heroslider .swiper-slide h3 {
        font-size: 24px;
    }
    .heroslider .swiper-slide p {
        width: 90%;
        font-size: 12px;
    }
    .button-9{
        width: 40% !important;
    }
}

/* ============ mobile view .end// ============ */

/* New */

body.offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
	height: 100%;
	width:0%;
	z-index: 30;
	position: fixed;
	top: 0;
	right: 0;
	opacity:0;
	visibility:hidden;
	background-color: rgba(34, 34, 34, 0.6);
	transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
	z-index:10; 
	transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}

#navbar_main{
    display:none;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
    
    #navbar_main{
        display:block;
    }

	
	.offcanvas-header{ display:block; }

	.mobile-offcanvas{
		visibility: hidden;
		transform:translateX(-100%);
	    border-radius:0; 
		display:block;
	    position: fixed;
	    top: 0; 
        left:0;
	    height: 100%;
	    z-index: 1200;
	    width:80%;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
        background : url('./../images/Mobile\ Menu.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
	}

	.mobile-offcanvas.show{
		visibility: visible;
    	transform: translateX(0);
	}
	.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
		display: block;
	}
    .dropdown-toggle.show::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        transform: rotate(180deg);
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        transition: 0.4s;
        margin-left: 8px;
    }
    .dropdown-toggle::after {
        transition: 0.4s;
        margin-left: 8px;
    }
    .mobile-offcanvas .navbar-nav .dropdown-menu{
        background: none;
        color: #fff;
        border: none;   
    }
    .mobile-offcanvas .navbar-nav .dropdown-menu li {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        margin: 12px;
        margin-bottom: 20px;
    }
    .mobile-offcanvas .navbar-nav .dropdown-menu li a{
        color: #fff;
        text-decoration: none;
        
    }
    .mobile-offcanvas .navbar-nav .dropdown-menu ul h6{
        font-size: 16px;
        padding-bottom : 20px;
    
    }	
    .mobile-offcanvas .nav-item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.164);
    }

    .overlay input[type=text]{
        width: 80%;
    }
    .overlay button{
        width: 20%;
    }
    /* About */
    .about-course{
        height: auto;
    }
    .techology-company{
        margin-top: 50px;
    }
    .techology-company h1{
        font-size: 24px;
    }
    .technology-slider .tech-card{
        height: 70px
    }
    .technology-slider .tech-card img{
        height: 40px;
    }
    .company-slider .tech-card{
        height: 70px
    }
    .company-slider .tech-card img{
        height: 40px
    }
    .get-started h2{
        font-size: 26px;
    }
    .get-started{ 
        padding: 30px 15px;
    }
    .get-started p{
        font-size: 14px;
    }
    .get-started .button-9{
        width: 50% !important;
    }
    footer{
        height: auto;
    }
    footer .copyright{
        padding: 30px 0;
    }

    /* Details Page */
    #row{
        display: flex;
         flex-flow: column-reverse;
      }
}

